{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block style %}
<style>
    input, textarea, button{
        margin: 2px;
        width: 300px;
        border: solid 1px black;
    }
</style>
{% endblock %}
{% block content %}
    <h1>Контакты</h1>
    <p>Задать вопрос разработчикам:</p>
    <form method="post" action="{% url 'ask' %}">
        {% csrf_token %}
        <div><strong>Имя:</strong> {{ default_name }}</div>
        <div><strong>Email:</strong> {{ default_email }}</div>
        <br>
        <textarea name="body" placeholder="Сообщение" 
            style="height: 150px; resize: None;"></textarea><br>
        <input type="submit" value="Отправить" class="btn text-white" 
            style="background-color: rgb(6, 46, 101); border-radius:0px;"></p>
    </form>
{% endblock %}