{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Установка пароля</h1>
                    {% if validlink %}
                        <p class="text-center text-muted mb-4">
                            Пожалуйста, введите ваш новый пароль дважды:
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                {{ form.new_password1|add_class:"form-control" }}
                                <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                                {% if form.new_password1.errors %}
                                    <div class="text-danger small">{{ form.new_password1.errors.0 }}</div>
                                {% endif %}
                                {% if form.new_password1.help_text %}
                                    <div class="text-muted small">{{ form.new_password1.help_text }}</div>
                                {% endif %}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form.new_password2|add_class:"form-control" }}
                                <label for="{{ form.new_password2.id_for_label }}">Подтверждение нового пароля</label>
                                {% if form.new_password2.errors %}
                                    <div class="text-danger small">{{ form.new_password2.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary w-100 py-2">Сохранить</button>
                        </form>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Внимание!</strong> Ссылка для смены пароля не работает, возможно, она была уже использована. Пожалуйста, попробуйте сбросить пароль снова.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}