{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Забыли пароль?</h1>
                    <p class="text-center text-muted mb-4">
                        Пожалуйста, введите вашу почту для сброса пароля.
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.email|add_class:"form-control" }}
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {% if form.email.errors %}
                                <div class="text-danger small">{{ form.email.errors.0 }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2">Отправить письмо</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}